Results for <a href="<%= @url %>"><%= @url %></a>
<br><br>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Image URL</th>
      <th>Attribution</th>
      <th>Credit</th>
      <th>Flagged?</th>
    </tr>
  </thead>
  <tbody>
    <% @scraped.each do |img| %>
    <% unless img.nil? %>
      <tr>
        <td><a href="<%= img.original_url %>" target="_blank">Go to image</a></td>
        <td><%= img.credit.empty? ? "No credit found" : img.credit %></td>
        <td><%= img.flagged ? img.source_links : 'OK' %></td>
        <td>
          <% if img.flagged %>
            yes
          <% else %>
            no
          <% end %>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
