Results for <a href="<%= @url %>"><%= @url %></a>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Image URL</th>
      <th>Credit</th>
      <th>Flagged?</th>
    </tr>
  </thead>
  <tbody>
    <% @scraped.each do |img| %>
    <% unless img.nil? %>
      <tr>
        <td><a href="<%= img.original_url %>">Go to image</a></td>
        <td><%= img.credit %></td>
        <td><%= img.flagged %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
